*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    
   
}
#right-links{
    display: flex;
    gap: 8px;
}
#right-links a{
    color: black;
}
a{
    text-decoration: none;
}
.s1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}
.s2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.s21{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.s3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
#quote{
    
    font-size: larger;
}
.footer{
    width: 100%;
    color :white;
    display: flex;
    justify-content: center;
    background-color: black;
    /* margin-top: 25px; */
    height: 60px;
    align-items: center;
    padding: 0;
    margin: 0;
  
}


#i1{
    height: auto;
    width: 300px;
}
#i2,#i3{
    height: auto;
    width: 200px;
    
}
